* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
body {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
}
.views .navbar {
  background: #ccc;
}
.views .navbar div.icon {
  width: 30px;
  height: 30px;
  background: url('../img/icons.png') no-repeat;
}
.views .navbar div.icon.icon-back {
  background-position: 0 0;
}
.views .navbar div.icon.icon-plus {
  background-position: -30px 0;
}
.views .navbar div.icon.icon-save {
  background-position: -60px 0;
}
.views .navbar div.icon.icon-edit {
  background-position: -90px 0;
}
.views .pages form .form-group {
  width: 100%;
  margin-bottom: 20px;
}
.views .pages form .form-group .form-control {
  width: 100%;
  margin: 0;
  padding: 5px;
  display: block;
}
.views .pages form .checkbox {
  text-align: center;
  margin-bottom: 15px;
}
.views .pages .page-content {
  background: #fff;
}
.views .pages .page-content .content-block {
  padding: 0px;
}
.views .pages .page-content .content-block .content-block-inner {
  width: 100%;
  margin: 0 auto 10px;
  padding: 15px;
}
.views .pages .page-content .content-block .content-block-title {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: none;
}
.views .pages .page-content .content-block .content-block-title,
.views .pages .page-content .content-block .content-block-date {
  text-align: center;
}
.views .pages .page-content .content-block .list-block {
  margin: 0;
}
.views .pages .page-content .content-block .list-block #list .checked {
  background-color: #dbfefc;
}
.views .pages .page-content .content-block .list-block #list p {
  text-align: center;
}
.views .pages .page-content .content-block .list-block #list .item-content {
  padding-left: 0;
}
.views .pages .page-content .content-block .list-block #list .item-content .item-inner {
  padding-left: 15px;
}
.views .pages .page-content .content-block .list-block #list .item-content .item-inner .item-title {
  font-size: 1em;
  font-weight: bold;
}
.views .pages .page-content .content-block .list-block #list .item-content .item-inner .item-title .item-date {
  font-weight: normal;
  font-size: 0.9em;
}
.views .pages .button {
  display: block;
  width: 90%;
  border: 1px solid #cf060e;
  margin: 0 auto;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #cf060e;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), inset 0 2px 2px -2px #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}
.views .pages .button:active {
  text-shadow: 0px 0px 5px #fff;
  background-color: #e8060e;
  top: 3px;
  box-shadow: none;
}
